@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #111827;
  --primary: #7AB828;
  --primary-hover: #62961E;
  --secondary: #E5E7EB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
    --primary: #7AB828;
    --primary-hover: #8fd038;
    --secondary: #1e293b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

